.mangaIvrea{
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    text-align: center;   
    color:red;
    p{
        color: black;
        font-weight: bold;
    }
}

.mangaPanini{
    @extend .mangaIvrea;
    color:blue;
}

.carritoCompras{
    text-align: center
}

.merch{
    @extend .mangaIvrea;
    color:green;
}

.tcg{
    @extend .mangaIvrea;
    color:green;
}
    
.fig{
    flex-direction: column;
    text-align: center;
    @include textos(darkorange ,500);
}

.subTitulo{
    text-align: center;
    transform: translateY(60px);
    h2{
        color:darkorange;
    }

    p{
        color: black;
        font-weight: bold;
    }
}

.social{
    h3{
        color: darkorange;
        transform: translateY(80px)
    }
}

.banner{
    text-align: center;
    @include textos(darkorange ,500);
}
    
main{
    flex-wrap: wrap;
}

#contacto a{
    text-decoration:none;
    color: black;
}